## Data Types inÂ Python

Python, like other programming languages has difffernt data types that come in handy when writing your code. Regardless of whether your focus is data analysis, data science or general python usage, you will need an understanding of these data types to be effective in your programing.
Let's look at the data types in python and the different methods that they have.

### Integers

In [9]:
# The following are integer variables

a = 32
b = 25
c = 5

# let's confirm by checking their data type
type(a)

int

In [10]:
# It's easy to carry out arithmetic operations on intergers
print(a + b)
print(a - b)
print(b * c)
print(a / c)
print(b / c)

57
7
125
6.4
5.0

One thing you note is that division yields a value with a decimal point (float data type). We can convert this to an integer if we want the value to remain an integer as shown below

In [11]:
print(int(a / c))
print(int(b / c))

6
5

### Floats

In [14]:
x = 1
x = float(x)
print(x)

1.0

### Strings

In [15]:
# declaring a string variable

name = "Jason Borne"
statement = "My name is Borne."

# joining two strings

print(statement + ' ' + name)

My name is Borne. Jason Borne

In [16]:
# Split method on strings

sentence = 'Hello I am Jason Borne. super spy.'
sentence.split()

['Hello', 'I', 'am', 'Jason', 'Borne.', 'super', 'spy.']

In [18]:
sentence.upper()

'HELLO I AM JASON BORNE. SUPER SPY.'

In [17]:
sentence.capitalize()

'Hello i am jason borne. super spy.'

### Lists

In [21]:
items = ['car', 'apple', 5.5, 'hyena', 13]
items

['car', 'apple', 5.5, 'hyena', 13]

In [23]:
items[2]

5.5

In [24]:
items[:3]

['car', 'apple', 5.5]

In [26]:
items[2:4]

[5.5, 'hyena']

### Tuples

### Sets

In [2]:
# creating a set
basket = {'apples', 'mangoes', 'apples', 'oranges', 'remote', 'remote', 'hotdog'}

basket

{'apples', 'hotdog', 'mangoes', 'oranges', 'remote'}

### Dictionaries

In [5]:
fruits = {
    'Apples': 12,
    'Oranges': 13,
    'mangoes': 1,
    'pineapples': 3
}

fruits

{'Apples': 12, 'Oranges': 13, 'mangoes': 1, 'pineapples': 3}

In [9]:
fruits['Apples']

12

In [11]:
fruits['bananas'] = 234
fruits

{'Apples': 12, 'Oranges': 13, 'mangoes': 1, 'pineapples': 3, 'bananas': 234}

# Compound data Structures

In [15]:
grocery = {
    'fruits': {'Apples': 12, 'Oranges': 13, 'mangoes': 1, 'pineapples': 3},
    'milk': 10,
    'Greens': ['kale', 'spinach', 'bell-pepper', 'pepper']   
}
grocery

{'fruits': {'Apples': 12, 'Oranges': 13, 'mangoes': 1, 'pineapples': 3},
 'milk': 10,
 'Greens': ['kale', 'spinach', 'bell-pepper', 'pepper']}

In [18]:
grocery['fruits']['Apples']

12

Find the medium post here (https://3liud.medium.com/data-types-in-python-dfbd2cb766fb)